/node_modules
/public/hot
/public/storage
/public/images
/public/audio
/public/videos
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
# student-emotion-analysis-d61dc-3e42dda5c936.json
